/* Set default styles for all elements */
* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style the logo element */
#logo {
    padding-left: 2em;
}

/* Style the navigation menu list */
.navlist {
    position: relative;
    top: -1.7em;
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: #000;
    padding: 10px;
    
}


/* Style the icons in the navigation menu */
.icons {
    font-size: 2.7em;
    margin-left: 40px;
    color: orange;
}



.border {
    color: orange;
    background-color: orange;
    height: 10em;
}

#preview {
    width: 15em;
    height: 11em;
    border-radius: 100%;
}

.edit_btn {
    margin-left: 4em;
    color: rgba(184, 29, 29, 0.705);
    height: 3em;
    width: 10em;
    background-color:orange;
    border-radius:5px;
    border:none; 
    font-weight:bold
}

.position_picture {
    display: flex;
    justify-content: center;
}
/* ...previous styles... */

.edit1.button {
    width: 200px;
    height: 100px;
    color: rgba(172, 21, 21, 0.808);
    cursor: pointer; /* Add cursor: pointer to change cursor type */
}

.edit1.button:hover {
    background-color: rgba(172, 21, 21, 0.808); /* Change background color on hover */
    color: #fff; /* Change text color on hover */
}

#profile_picture {
    border-radius: 10em;
}

#edit_profile {
    padding-top: 15em;
    color: orange;
    font-weight: bold;
}

.profile_cart {
    padding-right: 1em;
}

.container {
    display: flex;
    justify-content: center;
}

.profile_info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input {
    border: none;
    border-bottom: 1px solid gray ;
    outline: none;
}

label {
    font-weight: bold;
}

/* ------------hamburger toggle button*----------------/

/* Style the hamburger toggle button */
.toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1;
    cursor: pointer;
}

/* Style the three lines in the hamburger toggle button */
.toggle .line {
    width: 30px;
    height: 4px;
    background-color: #333;
    margin: 6px 0;
    transition: transform 0.3s;
}

/* Rotate the first line when the menu is open */
.toggle.open .line:first-of-type {
    transform: rotate(-45deg) translate(-8px, 5px);
}

/* Hide the middle line when the menu is open */
.toggle.open .line:nth-of-type(2) {
    opacity: 0;
}

/* Rotate the last line when the menu is open */
.toggle.open .line:last-of-type {
    transform: rotate(45deg) translate(-8px, -5px);
}

/* Style the menu */
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    height: 65%;
    background-color: #eee;
    transform: translateX(-100%);
    transition: transform 0.3s;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: orange;
    border-radius: .4em;
}

/* Show the menu when the toggle button is clicked */
.toggle.open + .menu {
    transform: translateX(0);
}

/* Style the links in the menu */
.menu a {
    font-size: 24px;
    text-decoration: none;
    color: #333;
    margin: 20px 0;
}

/* Style the links in the menu when the hamburger toggle is open */
.toggle.open + .menu a:hover {
    background-color: orangered;

    width: 2% 28%;
    text-align: center;
    text-decoration: underline;
    color: #eee;
}

.floatingMSG{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 10px;
    border: 1px solid #000;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}
.edit1{
    width: 200px;
    height: 100px;
    color: rgba(172, 21, 21, 0.808);
    
}

