body {
    background-color: #E7DEDE;
    
    background-image:linear-gradient(to bottom left,orange 50%,white 50%) ;
}
.container {
    position: absolute;
    top: -0.3%;
    width: 100%;
    height: 100%;
    z-index: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    fill: #FFA133;
    margin-right: auto;
    
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes slideIn {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .content {
    animation: fadeIn 3s ease-in-out;
  }
  

.image{
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    align-items: right;
    margin-top: -30%;
    margin-right: 20%;

}
img{
    margin-top: 11em;
    width: 30%;
    z-index: 2;
    max-width: 100%;
    height: 50%;
}
header{
    display: flex;
    flex-direction: row;
    z-index: 0;
    flex-wrap: nowrap;
    padding-top: 15px;
    margin-right: 50px;
    max-width: 100%;
    height: auto;
}
.HeaderTwo{
    font-size: 15px;
    
}
a{
    padding-left: 80px;
    padding-right: 0px;
}

.HeaderOne{
    margin-right:40%;
}

header nav button {
    background-color: #FFA133;
    font-size: 15px;
    border-radius: 15px;
    height: 40px;
    width: 80px;
    border: #FFA133 2px solid;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 2;
    align-content: flex-start;
    margin-top: 2%;
    font-size: 20px;
    margin-left: 15px;
    top: 2%;
}
input{
    width: 300px;
    height: 50px;
    border-radius: 15px;
    box-shadow: 2px 4px 4px lightsalmon;
}
